<div class="span-18 last">
	<h1>Listing messages</h1>

	<table>
	  <tr>
	    <th>Message name</th>
	    <th>Message</th>
	  </tr>

	<% @messages.each do |message| %>
	  <tr>
	    <td><%= link_to message.name, :action => :show, :id => message %></td>
	    <td><%=h message.message %></td>
	    <td><%= link_to 'Edit', edit_message_path(message) %></td>
	  </tr>
	<% end %>
	</table>

	<br />
</div>
