<div id="admin-page">
<% if logged_in? -%>
	<div class='span-18 last'>
  		<a href='/items' style="text-decoration: none;"><div class="admin-link span-4 ui-state-hover ui-corner-all">Items</div></a>

  		<a href='/categories' style="text-decoration: none;"><div class="admin-link span-4 ui-state-hover ui-corner-all">Categories</div></a>
  		<a href='/vendors' style="text-decoration: none;"><div class="admin-link span-4 ui-state-hover ui-corner-all">Vendors</div></a>
  		<a href='/messages' style="text-decoration: none;"><div class="admin-link span-4 ui-state-hover ui-corner-all">Messages</div></a>
	</div>
  	
	<% link_to(logout_path, { :title => "Log out", :style => "text-decoration: none;" }) do %>
		<div class="admin-link span-4 ui-state-default ui-corner-all last">Log Out</div>
	<% end %>
<% else -%>
  <%= render :partial => 'sessions/new' %>
<% end -%>
</div>