<% link_to({:controller => :items, :action => :show, :id => item}, :style => "text-decoration: none;") do %>
<div class="span-5 ui-widget-header ui-corner-all item-small-box">
  <%= item.name %><br/>
  <% if item.has_image? -%>
    <%= image_tag item.image_url, :width => 180 %><br />
  <% else -%>
    <%= image_tag 'noimage.png', :width => 180 %><br />
  <% end -%>
  <%=h item.formatted_price %><br />
</div>
<% end %>