<div id="tabs" class="ui-tabs ui-tabs-widget span-20 last">
  <div class="prepend-3 span-17 last">
  <ul class="ui-tabs-nav ui-helper-clearfix">
    <li><a href="/shop">Browse all</a></li>
    <li><a href="/shop/category_browse/1">Wedding Gowns</a></li>
    <li><a href="/shop/category_browse/2">Bridesmaid Gowns</a></li>
    <li><a href="/shop/category_browse/3">Shoes</a></li>
    <li><a href="/shop/designer_list">Designers</a></li>
  </ul>
  </div>
</div>
