<div id="tabs" class="sp-label span-20 ui-button ui-state-default ui-corner-all last">
  <ul>
    <li><a href="/shop">Browse all</a></li>
    <li><a href="/shop/category_browse/1">Wedding Gowns</a></li>
    <li><a href="/shop/category_browse/2">Bridesmaid Gowns</a></li>
    <li><a href="shop/category_browse/3">Shoes</a></li>
    <li><a href="shop/designer_list">Designers</a></li>
  </ul>
</div>