<div class="span-18 last">
  <div class="prepend-1"><h3><%=h @welcome_message.message %></h3></div>
  <% @items.each do |item| %>
    <%= render :partial => 'item', :object => item  %>
  <% end %>
  <div class="span-13 last"><br /></div>
  </div>
